<footer id="site-footer" class="sticky-bottom h-card">
    <data class="u-url" href="/"></data>
    <div id="site-footer_container" class="container">
        <div class="site-footer_row row">
            <div class="col-12 d-flex justify-content-between">
                <img src="/img/Logo_footer.png">
                <ul id="site-footer_menu" class="align-self-end">
                    <li><a href="https://dotnetfoundation.org/Privacy-Policy">Privacy Policy</a></li>
                    <li><a href="https://dotnetfoundation.org/Code-Of-Conduct">Code of Conduct</a></li>
                    <li><a href="https://github.com/dotnet/dotnetfoundation-website/issues">Site Problem?</a></li>
                </ul>
            </div>
        </div>
        <section class="site-social_container d-flex position-absolute">
            <div class="site-social_icon site-social_icon--rss">
                <a href="https://dotnetfoundation.org/api/rss">
                    <i class="fas fa-rss"></i>
                </a>
            </div>
            <div class="site-social_icon site-social_icon--twitter">
                <a href="https://twitter.com/dotnetfdn">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="site-social_icon site-social_icon--meetup">
                <a href="https://www.meetup.com/pro/dotnet/">
                    <i class="fab fa-meetup"></i>
                </a>
            </div>
        </section>
    </div>
    <div id="site-footer_bookend" class="">
        <div class="site-footer_container container">
            <div class="site-footer_row row">
                <div class="col-12 d-flex justify-content-end">
                    <p id="site-footer_copyright">
                        &copy; {{ site.time | date: '%Y' }} .NET Foundation and Contributors.
                    </p>
                </div>
            </div>
        </div>

    </div>
</footer>