<header class="page-header_wrapper" role="banner">
        <section class="flash justify-content-center align-items-center">
			<div class="alert alert-info alert-dismissible fade show w-100 text-center" role="alert">
				Just announced! <u><a href="http://aka.ms/dnfmemberupdate">.NET Foundation Open Membership!</a></u>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
				</button>
			</div>
        </section>

        <div class="site-nav_container container">
            <nav class="navbar navbar-expand-md align-items-end">
                <a class="navbar-brand" href="https://dotnetfoundation.org/"><img id="site-logo" src="/img/dotNetFoundationHorizontal.png"></a>
                <button class="main-menu_toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="main-menu" class="navbar-nav ml-auto">
                        <li class="main-menu_item nav-item">
                            <a class="nav-link" href="https://dotnetfoundation.org/Get-Involved">Get Involved <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="main-menu_item nav-item">
                            <a class="nav-link" href="https://dotnetfoundation.org/Projects">Projects</a>
                        </li>
                        <li class="main-menu_item nav-item">
                            <a class="nav-link" href="https://dotnetfoundation.org/About">About</a>
                        </li>
                        <li class="main-menu_item nav-item">
                            <a class="nav-link" href="https://dotnetfoundation.org/News">News</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section class="site-social_container d-flex position-absolute">
                <div class="site-social_icon site-social_icon--rss">
                    <a href="https://dotnetfoundation.org//Blog">
                        <i class="fas fa-rss"></i>
                    </a>
                </div>
                <div class="site-social_icon site-social_icon--twitter">
                    <a href="https://twitter.com/dotnetfdn">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="site-social_icon site-social_icon--meetup">
                    <a href="https://www.meetup.com/pro/dotnet/">
	                    <i class="fab fa-meetup"></i>
                    </a>
                </div>
            </section>
        </div>
    </header>